.image-musk{
    height: 720px;
    width: 720px;
    object-fit: cover;
}

#card-img{
    height: 20rem !important; 
    object-fit: cover;
    width: 100%;
}

.d-block{
    height: 90vh;
    object-fit: cover;
}

.custom-caption {
    position: absolute;   /* Permite mover a legenda para uma posição específica */
    top: 10%;               /* Move a legenda para o topo da imagem */
    width: 100%;          /* Faz com que a legenda ocupe toda a largura da imagem */
    padding: 20px;        /* Adiciona um espaço interno para o texto não colar na borda */
    color: white;         /* Cor do texto */
    text-align: center;   /* Centraliza o texto */
  }
  
  .carousel-item {
    position: relative;  /* Certifica-se de que o item do carrossel tenha posição relativa */
  }

svg{
    color: aliceblue;
}



.card-rotated {
  perspective: 1000px;
  transition: all 0.1s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.card-rotated {
  transform: rotateX(var(--rotateX, 0deg)) rotateY(var(--rotateY, 0deg));
}

.card:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.234);
}