*{
  scroll-behavior: smooth;
}

.navbar-toggler{
  right: 0;
}

.background-login{
  visibility: hidden;
  display: none;
}

.off{
  animation: fade-down 0.3s ease-in-out forwards !important;
}

@keyframes fade-down {
  to{
    scale: 0;
    opacity: 0;
    display: none;
  }
  from{
    scale: 1;
    opacity: 1;
  }

}

.background-login.active{
  visibility: visible;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  animation: fade-up 0.3s ease-in-out forwards;
}

.login{
  position: relative;    /* Fixa o elemento na tela */
  z-index: 100;
  top: 50%;            /* Coloca o topo do elemento no meio da tela */
  left: 50%;           /* Coloca a esquerda do elemento no meio da tela */
  transform: translate(-50%, -50%); /* Ajusta o elemento para ser perfeitamente centralizado */
  padding: 10px;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.close-nav{
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.close-nav span{
  font-size: 30px;
  border-radius: 100%;
  color: rgb(0, 0, 0);
}

@keyframes fade-up {
  from{
    scale: 0;
    opacity: 0;
  }
  to{
    scale: 1;
    opacity: 1;
  }

}

.about-us{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.model-3d{
  object-fit: cover;
  position: relative;
  width: 50%;
  z-index: 0;
}

.background-about{
  position: absolute;
  width: 100%;
  top: 5%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 200px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  z-index: 0;
  animation: moveUpDown 4s ease-in-out infinite; /* Animação suave e em loop */
}

/* Definição da animação */
@keyframes moveUpDown {
  0% {
    transform: translateY(-10%); /* Começa acima do container */
  }
  50% {
    transform: translateY(10%); /* Move para abaixo do container */
  }
  100% {
    transform: translateY(-10%); /* Retorna ao início */
  }
}

.description-about{
  padding: 20px;
  width: 50%;
}

#canvas3d {
  position: relative;
  z-index: 100;
  background: transparent; /* Fundo transparente */
}

.card{
  border: none !important;
  border-radius: 2rem !important;
}

#card-img{
  border-radius: 2rem 2rem 0 0 !important;
  height: 20rem !important; 
  object-fit: cover;
  width: 100%;
}

.d-block{
  height: 90vh;
  object-fit: cover;
}

.custom-caption {
  position: absolute; 
  top: 10%;           
  width: 100%;        
  padding: 20px;      
  color: white;      
  text-align: center; 
}
  
.carousel-item {
  position: relative; 
}

.card-section{
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.card-rotated {
  perspective: 1000px;
  transition: all 0.1s ease-in-out;
  transform-style: preserve-3d;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.card-rotated {
  transform: rotateX(var(--rotateX, 0deg)) rotateY(var(--rotateY, 0deg)) scale(var(--scale,1));
}


.card-rotated:hover{
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.234);
    margin: 0 10px;
}

.target {
  opacity: 0;
  transform: translateY(-50px);
}

.target-card {
  opacity: 0;
  transform: translateY(-50px); 
}

.card.hidden {
  display: none;
  pointer-events: none; 
}

.card.active{
  width: 40% !important;
}

.card.active > #card-img{
  height: 100% !important;
}

.card.active > .card-body{
  display: none;
}

.product-description {
  display: none;
  padding: 20px;
  border-top: 2px solid #007bff;
  background: #f9f9f9;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-description.active {
  display: block;
}

.btn{
  margin: 0 10px;
  width: 7rem;
  height: 2.5rem;
}


@media (max-width: 990px) {
  /* Estilos para largura exatamente 982px */
  #navbarNav{
    display: none !important;
  }

  .about-us{
    display: block;
  }

  .model-3d{
    display: none !important;
  }

  .description-about{
    padding: 5px;
    width: 100%;
    text-align: center;
  }

  .card-section{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-rotated{
    transform: none;
  }
}

/*Sessão dark mode*/

/* Tema escuro */
body.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

.navbar.dark-theme {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.navbar.dark-theme.nav-link{
  color: #ffffff !important;
}

.card-section.dark-theme > .card{
  background-color: #121212;
  color: aliceblue;
}